<div class="operation operation--loan">
  <h2>Income</h2>
  <form class="form form--transfer" action="/loan" method="POST">
    <input
      type="text"
      class="form__input form__input--from"
      name="inputLoanFrom"
    />
    <input
      type="number"
      class="form__input form__input--amount"
      name="inputLoanAmount"
    />
    <button class="form__btn form__btn--loan" name="btnLoan">&rarr;</button>
    <label class="form__label">from</label>
    <label class="form__label">Amount</label>
  </form>
</div>
